<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation) See here for more 
	details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management -->
	<jmxConfigurator />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
<!-- 		<file>/Users/wff/hs.log</file> -->
		<file>/alidata/java/ers/tomcat8/logs/hs.log</file>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
		<append>true</append>
		<prudent>false</prudent>
	</appender>
    <logger name="logback"/>   
	<root level="DEBUG">
		<appender-ref ref="fileAppender" />
	</root>

</configuration>
